body{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h2{
    color: white;
    margin-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 90px;
    border-radius: 100%;
}

.contenaire{
    position: absolute;
    background: rgb(15, 15, 15);
    text-align: center;
    width: 270px;
    left: 35%;
    padding: 20px;
}

.Zoo {
    display: flex;
    flex-direction: column;

}

ul{
    background-color: rgb(46, 46, 46);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: -2px;
    opacity: 0.6;
}

ul:hover {
    opacity: 1;
    transform : scale(1.1, 1.2);
}

.gon {
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.monbled {
    color: rgb(111, 240, 111);
    font-size: small;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}


@media screen and (max-width: 1024px) {
    body {
       position: absolute;
       margin-left: 30%;
    }
}

@media screen and (max-width: 1000px) {
    body {
       position: absolute;
       margin-left: 25%;
    }
}

@media screen and (max-width: 800px) {
    body {
       position: absolute;
       margin-left: 20%;
    }
}